.navcass{
    width: 150px;
    height: 200px;
    background:white;
}

ul li{
    width: 120px;
    height: 40px;
    border-bottom: 2px solid black;
    background:orange ;
    margin: 15px 15px ;
    padding: 20px 15px;
    list-style: none;
    color: white;
}